/* HEADER */

.more-projects {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 350;
    font-size: 18px;
    line-height: 33px;
    border-top: 1px solid #dadada;
    padding-top: 20px;

    @media (min-width: $breakpoint-tablet) {
      padding-left: 50px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }
  }
}
