/* HEADER */

.nav {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  display: none;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }

  &__list {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;

    &-item {
      padding-bottom: 10px;
    }
  }
}

.icon-square-nav {
  font-size: 8px;
  margin-right: 10px;
}
