/* HEADER */

.news {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__container {
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      width: 80%;
    }

    &-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid #dadada;
      padding-top: 20px;
    }

    &-pagination {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__number {
    font-weight: 350;
    font-size: 18px;
    line-height: 33px;

    &-span {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 350;
    font-size: 18px;
    line-height: 33px;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }
}

.icon-arrow-page {
  margin-left: 40px;
  cursor: pointer;
  color: $color-font-terciary;

  &:last-child {
    color: $color-font-primary;
  }
}