/* HEADER */

.project {
  display: flex;
  flex-direction: row;
  height: 400px;
  margin-top: 12px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 0;
    margin-right: 24px;
    width: 600px;
  }

  &-container {
    background-color: $color-bg-black;
    width: 288px;
    height: 288px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 32px;
    padding-bottom: 24px;

    &__title {
      display: flex;
      flex-direction: row;
    }
  }

  &__title {
    color: $color-font-secondary;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__text {
    color: $color-font-secondary;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
  }
}

.icon-square-project {
  color: $color-font-secondary;
  font-size: 6px;
  margin-right: 10px;
  margin-top: 12px;
}
