/* HEADER */

.visit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;


  &__text{
    font-size: 70px;
    font-weight: 350;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
  }
}

.icon-square-visit{
  font-size: 12px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}
