/* HEADER */

.what {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__container {
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      width: 80%;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 350;
    font-size: 18px;
    line-height: 33px;
    border-top: 1px solid #dadada;
    padding-top: 20px;
  }

  &__subtitle {
    font-weight: 350;
    font-size: 60px;
    line-height: 65px;
    margin-top: 50px;
    width: 80%;
  }

  &__text {
    font-weight: 350;
    font-size: 20px;
    line-height: 33px;
    margin-top: 60px;
    width: 80%;
  }

  &__image {
    margin-top: 60px;
    width: 100%;
  }
}
