<ul class="breadcrumbs">
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Home</a>
    </li>
    <i class="icon-separator fas fa-chevron-right"></i>
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">...</a>
    </li>
    <i class="icon-separator fas fa-chevron-right"></i>
    <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="#">Lectura</a>
    </li>
    <i class="icon-separator fas fa-chevron-right"></i>
    <li class="breadcrumbs__item">
        Merkarte
    </li>
</ul>