<footer class="footer">
    <section class="footer__container-left">
        <div>
            <a href="https://monobo.es/portfolio-category/digital/" target="_blank" title="monobo">
                <img src="/assets/images/logo-MONOBO.png" alt="monobo">
            </a>
        </div>
        <div class="footer__address">
            <p>C, Av. de San Sebastián, s/n, 38003 </p>
            <p> Santa Cruz de Tenerife</p>
        </div>
        <div>
            <p class="footer__copy">2022. ALL RIGHTS RESERVED</p>
            <a class="footer__copy-link" href="https://monobo.es/portfolio-category/digital/" target="_blank">Aviso
                legal</a>
            <a class="footer__copy-link footer__copy-link--last" href="https://monobo.es/portfolio-category/digital/"
                target="_blank"> Política de cookies</a>
        </div>
    </section>
    <section class="footer__container-right">
        <div>
            <p class="footer__contact">tenerrife@email.com</p>
            <p class="footer__contact">hola@email.es</p>
            <p class="footer__contact">922 53 40 21 / 619 67 71 27</p>
        </div>
        <nav>
            <ul class="footer__links">
                <li><a class="footer__links-item" href="https://monobo.es/portfolio-category/digital/"
                        target="_blank">Facebook</a>
                </li>
                <li><a class="footer__links-item" href="https://monobo.es/portfolio-category/digital/"
                        target="_blank">Youtube</a>
                </li>
                <li><a class="footer__links-item" href="https://monobo.es/portfolio-category/digital/"
                        target="_blank">Linkedin</a>
                </li>
            </ul>
        </nav>
    </section>
</footer>