<header class="header">
  <nav class="header__nav">
    <div>
      <a href="https://monobo.es/portfolio-category/digital/" title="monobo">
        <img class="header__logo-img" src="/assets/images/logo-MONOBO.png" alt="monobo">
      </a>
    </div>
    <div>
      <ul class="header__list">
        <li><a class="header__list-item" target="_blank" href="https://monobo.es/portfolio-category/digital/">Ocio, arte
            y cultura</a>
        </li>
        <li><a class="header__list-item" target="_blank" href="https://monobo.es/portfolio-category/digital/">Formación
            y empleo</a>
        </li>
        <li><a class="header__list-item" target="_blank"
            href="https://monobo.es/portfolio-category/digital/">Participación juvenil</a>
        </li>
        <li><a class="header__list-item" target="_blank" href="https://monobo.es/portfolio-category/digital/">Proyectos
            educativos</a>
        </li>
        <li><a class="header__list-item" target="_blank" href="https://monobo.es/portfolio-category/digital/">Más</a>
          <i class="icon-chevron fas fa-chevron-down"></i>
        </li>
      </ul>
    </div>
    <div>
      <i class="icon-search fas fa-search"></i>
    </div>
  </nav>
</header>