<section class="introduction">
    <div class="introduction__container">
        <div class="introduction__container-left">
            <h1 class="introduction__title">Merkate</h1>
            <p class="introduction__text">Para jóvenes artistas de Tenerife, compradores de arte
            </p>
        </div>
        <div class="introduction__container-right">
            <div class="introduction__icon">
                <i class="icon-square fas fa-square-full"></i>
                <h2 class="introduction__title-two">Merkate</h2>
            </div>
            <p class="introduction__subtitle">Apoyamos y comercializamos tus obras
            </p>
        </div>
    </div>
    <div class="introduction__container-image">
        <div class="introduction__square introduction__square--primary">
            Visitar web de proyecto
        </div>
        <div class="introduction__square introduction__square--secondary">
            <a target="_blank" href="https://monobo.es/portfolio-category/digital/">
                <i class="icon-arrow fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</section>