<section class="newsletter">
    <div class="newsletter__container-image">
    </div>
    <div class="newsletter__container-text">
        <p class="newsletter__text">Recibe las novedades directamente en tu email</p>
        <div class="newsletter__container-email">
            <input class="newsletter__input-email" type="email" name="email" id="email"
                placeholder="Escribe aquí tu email" />
            <button class="newsletter__input-btn">
                <i class="icon-arrow-newsletter fas fa-arrow-up"></i>
            </button>
        </div>
        <div class="newsletter__container-check">
            <input class="newsletter__input-check" type="checkbox" id="privacy-policy" value="second_checkbox">
            <label for="privacy-policy">He leído y acepto la política de privacidad</label>
        </div>

    </div>
</section>