<section id="news" class="news">
    <div class="news__container">
        <div class="news__container-title">
            <h2 class="news__title">News</h2>
            <div class="news__container-pagination">
                <p class="news__number"> 01 <span class="news__number-span">/</span> 05 </p>
                <i class="icon-arrow-page fas fa-arrow-left"></i>
                <i class="icon-arrow-page fas fa-arrow-right"></i>
            </div>
        </div>
        <ul class="news__list">
            <include src="./article.html" title="Noticias de interés, Espabilé"
                desc="I Jornada de Formación técnica del Proyecto Espabilé VII" image="/assets/images/girl.png">
            </include>
            <include src="./article.html" title="Noticias de interés, eventos brecha digital"
                desc="Formación para entidades" image="/assets/images/mountain.png">
            </include>
            <include src="./article.html" title="Noticias de interés, quédate"
                desc="Los Grupos Motores despegan en el Proyecto Quédate" image="/assets/images/boy.png">
            </include>
        </ul>
    </div>
</section>