<section id="objectives" class="objectives">
    <div class="objectives__container">
        <h2 class="objectives__title">Objetivos</h2>
        <p class="objectives__text">El principal objetivo es posicionar en el mercado del arte las creaciones de los y
            las
            jóvenes artistas de Tenerife. Además de dar visibilidad, nos esforzamos por dar a los artistas las
            herramientas
            necesarias para la comercialización de sus obras.
        </p>
        <ul class="objectives__list">
            <li class="objectives__list-item">01. <span class="objectives__list-span"> Fomento de la venta</span>
            </li>
            <li class="objectives__list-item">01.<span class="objectives__list-span"> Visibilidad</span>
            </li>
            <li class="objectives__list-item">01. <span class="objectives__list-span"> Turismo y talento</span>
            </li>
        </ul>
    </div>
</section>