<section id="what-is" class="what">
    <include src="./nav.html"></include>
    <div class="what__container">
        <h2 class="what__title">Que es</h2>
        <p class="what__subtitle">Merkarte selecciona, forma, promociona y apoya a jóvenes artistas
        </p>
        <p class="what__text">Damos visibilización y apoyo a los y las jóvenes artistas de Tenerife, así como la
            introducción de sus obras en el mercado del arte. Para esta iniciativa, es de vital importancia crear
            condiciones que permitan la comercialización y venta de las creaciones.
        </p>
        <img class="what__image" src="/assets/images/colors.png" alt="monobo">
    </div>
</section>