@font-face {
  font-family: "favorit-pro";
  src: url("/assets/fonts/FavoritPro-Regular.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  list-style: none;
  text-decoration:none;
  color: #000;
}
