$principal-font: 'favorit-pro';
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$color-bg-green: #74b959;
$color-bg-yellow: #f7d345;
$color-bg-black: #000000;
$color-font-primary: #000000;
$color-font-secondary: #FFFFFF;
$color-font-terciary: #d9d9d9;
