/* HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 350;
  line-height: 21px;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: row;

    &-item {
      padding-left: 20px;
      font-size: 18px;
    }
  }
}

.icon-chevron {
  font-size: 14px;
  padding-left: 10px;
  margin-top: 5px;
}

.icon-search {
  padding-right: 20px;
  padding-left: 40px;
  border-left: 1px solid #dadada;
}
